@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8952d;
}
